<div class="container">
    <form name="registerForm" ng-submit="register ( username, password1, emailAddress )">
        
        <div class="form-group" ng-class="{ 'has-error': registerForm.username.$invalid && !registerForm.username.$pristine }">
            
            <label>Username</label>
            
            <input class="form-control" name="username" ng-minlength="4" ng-model="username" type="text" required>
            
            <p ng-show="registerForm.username.$invalid && !registerForm.username.$pristine" class="help-block">
                Username must be at least 4 characters long.
            </p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registerForm.password1.$invalid && !registerForm.password1.$pristine }">
            
            <label>Password</label>
            
            <input class="form-control" name="password1" ng-minLength="4" ng-model="password1" type="password" required>
            
            <p ng-show="registerForm.password1.$invalid && !registerForm.password1.$pristine" class="help-block">
                Password must be at least 4 characters long.
            </p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': password1 !== password2 && !registerForm.password2.$pristine }">
            
            <label>Confirm Password</label>
            
            <input class="form-control" name="password2" ng-model="password2" type="password" required>
            
            <p ng-show="password1 !== password2 && !registerForm.password2.$pristine" class="help-block">
                Passwords must match.
            </p>
        </div>
        <div class="form-group">
            
            <label>Email Address (optional)</label>
            
            <input class="form-control" ng-model="emailAddress" type="text">
        </div>
        
        <input class="btn btn-block btn-lg btn-primary" ng-disabled="userForm.$invalid || password1 !== password2" type="submit" value="Register">
    </form>
</div>